[user]
	name = Yash Agarwal
	email = 13733968+yashhere@users.noreply.github.com

[alias]
	cl = "clone";
	ct = "commit --verbose";
	st = "status";
	co = "checkout";
	comend = "commit --amend --no-edit";
	it = "!git init && git commit -m \"Root commit\" --allow-empty";
	yolo = "push --force-with-lease";
	shorty = "status --short --branch";
	today = "log --since=midnight --author='Yash Agarwal' --oneline";
	grog = "log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"";
	# List aliases
	alias = "! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | grep -v ^'alias '";
	# Show verbose output about tags, branches or remotes
	tags = "tag -l";
	branches = "branch -a";
	remotes = "remote -v";

	# Remove branches that have already been merged with master a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d";

[push]
	autoSetupRemote = true
  	default = current

[pull]
	ff = only
	rebase = true

[core]
	editor = vim
	pager = less -x4
	excludesfile = ~/.gitignore_global
	ignorecase = false
	autocrlf = false
	preloadindex = true
	fscache = true
	editor = nvim
	symlinks = true

[log]
	decorate = short

[credential]
	helper = manager

[diff]
	mnemonicprefix = true
	renames = copies
	colorMoved = default

[branch]
	autosetuprebase = always
	autosetupmerge = always

[apply]
	whitespace = nowarn

[rebase]
	autosquash = true

[color]
	ui = true
	status = always

[help]
	autocorrect = 1

[advice]
	statusHints = false

[rerere]
	enabled = true

[status]
	submoduleSummary = false

[init]
	defaultBranch = main

[fetch]
	prune = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[merge]
	conflictstyle = diff3
	stat = true

[pack]
	useSparse = true